[Desktop Entry]
Name=Mathpix Snipping Tool
Exec='/home/chris/Documents/Mathpix_Snipping_Tool-x86_64.v03.00.0093.AppImage'
Type=Application
Version=03.00.0104